# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache
*.pylint.d

# Environments
env/
venv/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Logs and temp files
*.log
*.tmp